<p>home works!</p>
<!-- https://trustd.page.link/?link=https://halton.trustd.store/community/1533339410/halton&st=four&sd=ThisIsFour&si=https://homepages.cae.wisc.edu/~ece533/images/mountain.png -->
<a [routerLink]="['/todos']">See todo list!</a>
<br>
<br>
<a href="https://www.facebook.com/dialog/share?
app_id=249365643438499
&display=popup
&quote=This+is+the+description+parameter
&href=https%3A%2F%2Fdeeplinktrials.page.link/?link=https%3A%2F%2Fdeeplinktrialz.web.app/todos/10%26st=four%26sd=ThisIsFour%26si=https%3A%2F%2Fhomepages.cae.wisc.edu/~ece533/images/mountain.png">fb share hardcode</a>
<br>
<br>
<a href="https://www.facebook.com/dialog/share?
app_id=249365643438499
&display=popup
&quote=This+is+the+description+parameter
&href=https%3A%2F%2Ftrustd.page.link/?link=https%3A%2F%2Fhalton.trustd.store/community/1533339410/halton%26st=four%26sd=ThisIsFour%26si=https%3A%2F%2Fhomepages.cae.wisc.edu/~ece533/images/mountain.png">Fb Link to halton comm</a>
<br>
<br>
<!-- <a href="https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Fhalton.trustd.store%2Fcommunity%2F1533339410%2Fhalton">ll1</a>
<a href="https://www.linkedin.com/shareArticle?mini=true&url=https://halton.trustd.store/">LinkedIn share</a> -->
<a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Ftrustd.page.link%2F%3Flink%3Dhttps%3A%2F%2Fhalton.trustd.store%26st%3DFour%26sd%3DDescriptionFour%2F%26si%3Dhttps%3A%2F%2Fhomepages.cae.wisc.edu%2F~ece533%2Fimages%2Fmountain.png">LinkedIn share</a>
<br>
<br>
<a href="https://twitter.com/intent/tweet?text=https://trustd.page.link/?link=https://halton.trustd.store%26st=four%26sd=ThisIsFour%26si=https://homepages.cae.wisc.edu/~ece533/images/mountain.png">
Tweet</a>